<%- model_class = Spark -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:classname) %></th>
      <th><%= model_class.human_attribute_name(:master) %></th>
      <th><%= model_class.human_attribute_name(:memory) %></th>
      <th><%= model_class.human_attribute_name(:cores) %></th>
      <th><%= model_class.human_attribute_name(:parameters) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sparks.each do |spark| %>
      <tr>
        <td><%= link_to spark.id, spark_path(spark) %></td>
        <td><%= spark.classname %></td>
        <td><%= spark.master %></td>
        <td><%= spark.memory %></td>
        <td><%= spark.cores %></td>
        <td><%= spark.parameters %></td>
        <td><%=l spark.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_spark_path(spark), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      spark_path(spark),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_spark_path,
            :class => 'btn btn-primary' %>
